<div class="outer-container">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Log in
                </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="email" [(ngModel)]="user.email">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="password" [(ngModel)]="user.password"  [type]="hide ? 'password' : 'text'">
                     <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>
            <button class="btn btn-default" mat-button (click)="logIn()">Log In</button>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Create an account
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="example-container">
            <form #loginForm=ngForm (ngSubmit)="submit()" [formGroup]="registerForm">
            	<div>
                <mat-form-field>
                    <input matInput placeholder="Enter your email1" formControlName="email" required>
                    <mat-error *ngIf="registerForm.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
				</div>
				<div>
                <mat-form-field>
                    <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="registerForm.invalid">{{getErrorPwdMessage()}}</mat-error>
                </mat-form-field>
                </div>
                <div>
                <mat-form-field>
                    <input matInput placeholder="Repeat your password" formControlName="confirmPassword" [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="registerForm.invalid">{{getErrorConfirmPwdMessage()}}</mat-error>
                </mat-form-field>
                </div>
                <div>
                <mat-card-actions>
            		<button mat-raised-button type="submit" color="primary">SAVE</button>
    			</mat-card-actions>	
    			</div>
                </form>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</div>