<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item routerLink="/">Home</a>
            <a mat-list-item routerLink="account">Account</a>
            <a mat-list-item routerLink="/admin">Administration</a>
            <a mat-list-item routerLink="/dashboard">Dashboard</a>
            <a mat-list-item routerLink="/map">Map</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="greeting">
            <div class="greeting">
                <h1 align="center">Welcome to Travel Assistant!</h1>
            
               <a class="login-button" routerLink="/login"><button class="btn btn-success pull-right" >Log In</button></a>
            </div>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>