<div mat-dialog-content>
  <p>{{data.dialogText}}</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.landmark.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.landmark.description">
  </mat-form-field>
	<mat-form-field>
	  <mat-label>Type</mat-label>
	  <mat-select [formControl]="typeControl" required [(ngModel)]="data.landmark.type">
	    <mat-option *ngFor="let type of typesList" [value]="type">
	      {{type.type}}
	    </mat-option>
	  </mat-select>
	  <mat-error *ngIf="typeControl.hasError('required')">Please choose a type</mat-error>
	</mat-form-field>
   <mat-form-field>
    <mat-label>Lat</mat-label>
    <input matInput [(ngModel)]="data.landmark.lat">
  </mat-form-field>
   <mat-form-field>
    <mat-label>Lng</mat-label>
    <input matInput [(ngModel)]="data.landmark.lng">
  </mat-form-field>
  <div class="stars" >
      <ul class="list-inline rating-list" 
          *ngFor="let star of [1,2,3,4,5]" style="display: inline-block" >
            <li (click)="countStar(star)"
                [ngClass]="{'selected': (star <= data.landmark.rating)}">
              <i class="fa fa-star"></i>
            </li> 
      </ul>
  </div>
  <input class="ng-hide" id="input-image-id" multiple type="file" (change)="photoInputChange($event)" />
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>