table {
  width: 100%;
}

td, th, tr {
	
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

th.mat-sort-header-sorted {
  color: black;
}

.upperMenu {
	text-align: center;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  max-width: 104px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.photo {
  max-height: 104px;
  max-width: 104px;
}

.expanded-clmn {
  padding: 10px;
  width: 60%;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.btn {
	margin: 16px;
	width: 10%;
	height: 20%;
 	position:relative;
 	left: 40px;
}

th.mat-sort-header-sorted {
  color: black;
}