.account-container {
  display: flex;
  flex-direction: column;
}

.card {
  margin: 10px;
  padding: 20px;
  width: 30%;
  float: left;
}

.iconBtn {
  margin: 3px;
  position: relative;
  border-style: none;
  background-color: transparent;
  outline: none;
}

.mat-icon {
  font-size: 15px;
}
